.bgImg {
    position: absolute;

    /* background-image: url('../../assets/images/ildar-garifullin-M8lGIbichCA-unsplash.jpg'); */
    background-image: url('../../assets/images/FBHC_GO.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;

    z-index: -1;
}